.topService {
    background: none;
    border-bottom-color: rgba(51, 51, 51, .1);
}
.topService {
    background-color: #555;
}
.topService {
    z-index: -1;
    background-color: transparent !important;
}

.topService {
    background-color: #F2F5F9;
}
.topService {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: transparent;
    border-bottom: solid 1px #c1c1c1;
    transition: all 0.25s ease;
    -webkit-transition: all 0.25s ease;
    content: '';
}