@font-face {
    font-family: 'NanumSquareRound';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/NanumSquareRound.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.snsBtn ul, li {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  .listSNS li{
    display: none;
  }

  .listSNS > ul > li:hover > ul {
    display: block
  }

  .snsBtn a {
    color: inherit;
    text-decoration: none;	
  }