@font-face {
  font-family: 'NanumSquareRound';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/NanumSquareRound.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

.topBar ul, li {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  .subBar li{
    display: none;
  }

  .subBar > ul > li:hover > ul {
    display: block
  }

  .topBar a {
    color: inherit;
    text-decoration: none;	
  }

  .topBar ul > li:hover > a {
    background-color: #555;
    border-bottom: 1px solid #999;
  }
  
  /* 1차 메뉴의 항목이 마우스 인식 시에 2차 메뉴 등장 */
  .topBar > ul > li:hover > ul {
    display: block;
    position: absolute;
    background-color: #888;
    top: 0;         /* 2차 메뉴의 상단을 1차 메뉴의 상단에 고정 */
    left: 100%;     /* 2차 메뉴를 1차 메뉴의 너비만큼 이동 */
    width: 100%;   
  }