/* style.css */
/* JY let's go */
/* -------------------------------------------------------
  Header Styles (헤더 영역)
-------------------------------------------------------- */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #d8e8f5;
  padding: 20px 40px;
  position: relative;
}

/* -------------------------------------------------------
  Main Navigation Menu Styles (메인 메뉴)
-------------------------------------------------------- */
.siteBnt {
  display: flex;
  list-style: none;
  gap: 40px;
  margin: 0;
  padding: 0;
}

.siteBnt li a {
  text-decoration: none;
  color: black;
  font-size: 16px;
  font-weight: 500;
  position: relative;
  transition: color 0.1s ease;
}

.siteBnt li a:hover{
  color: red;
}

/* -------------------------------------------------------
  Dropdown Menu Styles (드롭다운 메뉴)
-------------------------------------------------------- */
.dropdown-wrapper {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%; 
  background-color: #5c5f68;
  padding: 10px 0;
  display: none;
  z-index: 1;
}

.dropdown {
  display: flex;
  justify-content: center;
  gap: 40px;
}

.dropdown a {
  color: white !important; /* 우선순위를 높게 해주는 기능임(JY) */
  text-decoration: none;
  font-weight: 500;
}

.dropdown a:hover {
  text-decoration: underline;
}

.dropdown-parent:hover .dropdown-wrapper,
.dropdown-wrapper:hover {
  display: block;
}
